body{	
	width: 100%;
	height: auto;
	margin: 0 auto;
	background: #FFFFFF;	
	font-family: 'Oswald', sans-serif;
}

#global{	
	width: 100%;
	height: auto;
	background: url(../images/pexels-cottonbro-4009401.jg) no-repeat;
	background-size: 100% 100%;	
}

header{	
	width: 100%;
	height: 137px;
	left: 0px;
	top: 0px;	
	background: rgba(0,0,0, .40);	
}

#top{
	display: grid;	
	grid-template-columns: 50% 50%;	
}

#global #logo img{
	margin-top: 1%;
	margin-left: 2%;
	width: 15%;
	height: auto;
}

#top ul{
	display: grid;
	grid-template-columns: 30% 30% 30%;	
}

#global ul{
	margin: 0 2%;
	margin-top: 20px;
	height: 100px;
	float: right;	
}

#global ul li{
	margin: 20px;
	margin-left: 70px;
	float: right;
	color: white;
	height: 60px;
	width: 160px;
	line-height: 60px;
	text-align: center;	
	list-style: none;
	font-size: 30px;	
}
#global ul li a{
	text-decoration: none;
	color: white;
}

#global ul li:hover{
	background: #4285F4;
	cursor: pointer;
	border-radius: 20px;
	transition: all 400ms;	
}

#global ul li:not(:hover){
	border-radius: 0px;
	transition: all 400ms;	
}

#global ul li:last-child{
	background: #4285F4;
}

#global ul li:last-child:hover{
	background: #E50914;
}

#global ul li:last-child:not(:hover){
	background: #4285F4;
}

#global #linea1{
	position: absolute;
	width: 27%;
	height: 0px;
	left: 0;
	top: 8.6em;
	background: #E50914;
	border: 3px solid #E50914;
}

#global #linea2{
	position: absolute;
	width: 25%;
	height: 0px;
	left: 26%;
	top: 8.6em;
	background: #4285F4;
	border: 3px solid #4285F4;
}

#global #linea3{
	position: absolute;
	width: 25%;
	height: 0px;
	left: 51%;
	top: 8.6em;
	background: #1DB954;
	border: 3px solid #1DB954;
}

#global #linea4{
	position: absolute;
	width: 23.5%;
	height: 0px;
	left: 76%;
	top: 8.6em;
	background: #F4B400;
	border: 3px solid #F4B400;
}

/*BODY*/
 
#rectangulo_middle{
	position: relative;
	width: 70%;
	height: 600px;
	left: 15%;
	top: 10px;
	background: rgba(0,0,0, .7);
}

#rectangulo_middle #letras_grandes{	
	font-weight: bold;
	letter-spacing: 20px;
	font-size: 150px;	
	text-align: center;	
	margin-top: 80px;
	margin-bottom: 40px;
}

#rectangulo_middle #eslogan{
	font-size: 80px;
	text-align: center;
	color: white;
	margin-top: 40px;
}

section{
    text-align: center;
    display: grid;
    grid-template-columns: 98%;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
    color: white;
}

#contenedor_multimedia{
    display: grid;
    grid-template-columns: 33% 33% 33%;    
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;        
}

#contenedor_multimedia div iframe:hover{
    width: 91%;
    height: 302px;
    transition: 300ms all;
    cursor: pointer;
}

#contenedor_multimedia div iframe:not(:hover){    
    transition: 300ms all;    
}

#contenedor_multimedia div p{
    background-color: rgba(0,0,0, .40);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    height: 50px;
    margin-top: 0;
    line-height: 50px;
    font-size: 20px;
}

section #videos{
    background-color: #1DB954;
}

section #videos:hover{
    background-color: #F4B400;        
    color: black;
    font-weight: bold;
    transition: 300ms all;
}

section #videos:not(:hover){    
    transition: 300ms all;
}

footer{
	background-color: #454242;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

footer #logo_footer img{
	margin-top: 6%;
	margin-left: 6%;
	width: 30%;
	height: auto;
}

footer #boton_galeria{
    height: 100px;
    margin-top:40px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: #E50914;        
}

footer #boton_galeria:hover{    
    width: 42%;
    height: 102px;
    transition: 300ms all;
    background-color:#4285F4;   
    
}

footer #boton_galeria:not(:hover){
    transition: 300ms all;    
}

footer #boton_galeria a{
    text-decoration: none;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: black;
}

footer #boton_galeria a:hover{    
    color: white;
}

footer p{
	font-size: 40px;	
	color: white;
    text-align: center;
    margin-bottom: 20px;
}
