body{	
	width: 100%;		
	margin: 0 auto;
	background: #FFFFFF;	
	font-family: 'Oswald', sans-serif;
}

#global{	
	width: 100%;
	height: 800px;
	background-color: #C4C4C4;
}

header{	
	width: 100%;
	height: 137px;
	left: 0px;
	top: 0px;
	display: grid;
	grid-template-columns: 1450px 200px;	
	background: rgba(0,0,0, .6);	
	box-sizing: border-box;	
}

#global #logo{	
	position: absolute;
    z-index: 2;
	margin-right: 40px;
}

#global #logo img{
	margin-top: 5px;
	margin-left: 20px;
	width: 65%;
	height: auto;	
}

#global #nav ul{
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 500px;	
	height: 100px;
	float: right;	
	
}

#global #nav ul li{
	margin: 20px;
	margin-left: 70px;
	float: right;
	color: white;
	height: 60px;
	width: 160px;
	line-height: 60px;
	text-align: center;	
	list-style: none;
	font-size: 30px;		
}

#global #nav ul li a{
	text-decoration: none;
	color: white;
}

#global #nav ul li:hover{
	background: #4285F4;
	cursor: pointer;
	border-radius: 20px;
	transition: all 400ms;	
}

#global #nav ul li:not(:hover){	
	border-radius: 0px;
	transition: all 400ms;	
}

#global #linea1{
	position: absolute;
	width: 25%;
	height: 0px;
	left: 0px;
	top: 134px;
	background: #E50914;
	border: 3px solid #E50914;
}

#global #linea2{
	position: absolute;
	width: 25%;
	height: 0px;
	left: 375px;
	top: 134px;
	background: #4285F4;
	border: 3px solid #4285F4;
}

#global #linea3{
	position: absolute;
	width: 25%;
	height: 0px;
	left: 750px;
	top: 134px;
	background: #1DB954;
	border: 3px solid #1DB954;
}

#global #linea4{
	position: absolute;
	width: 23.5%;
	height: 0px;
	left: 1125px;
	top: 134px;
	background: #F4B400;
	border: 3px solid #F4B400;
}

/*BODY*/
#rectangulo_middle{
	position: relative;
	width: 80%;
	height: 550px;
	left: 10%;
	top: 15px;
	background: #FFFFFF;
}

#rectangulo_middle h1{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	font-size: 70px;
	width: 13%;	
	padding-top: 20px;
	border-bottom: 10px solid #4285F4;	
}

#rectangulo_middle h2{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 30px;
}

#rectangulo_middle input{
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 10px 10px; 
	line-height: 8px;
}

#rectangulo_middle #boton_ingresar {	
	margin-top: 50px;
	width: 17%;
	height: 70px;
	line-height: 68px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: #1DB954;	
}

#rectangulo_middle #boton_ingresar:hover {	
	background-color: #E50914;	
	border-radius: 25px;
	transition: all 400ms;
}

#rectangulo_middle #boton_ingresar:not(:hover) {	
	background-color: #1DB954;	
	border-radius: 0px;
	transition: all 400ms;
}

#rectangulo_middle #boton_ingresar a{
	font-size: 35px;
	font-weight: bold;	
	text-decoration: none;
	color: white;
}

/*FOOTER*/
footer{
	background-color: #454242;
}

footer #logo_footer img{
	margin-top: 5px;
	margin-left: 20px;
	width: 8%;
	height: auto;
}

footer p{
	font-size: 30px;
	position: absolute;
	top: 820px;
	left: 500px;
	color: white;
}